
<table  style="width: 100%" >

  <tr>
    <td style="padding: 10px; width: 20%">
      <button mat-raised-button color="primary" style="padding: 8px" (click)="homecop()">home</button>
     <br><br> <button mat-raised-button color="primary"  (click)="create()">create</button>
     <br><br><button mat-raised-button color="primary"  (click)="formpopup()">sign up</button>
     <br><br><button mat-raised-button color="primary"  (click)="userdetails()">eligible user</button>
     <br> <br><button mat-raised-button color="primary"  (click)="showhide()">show/hide</button>
     <br> <br><button mat-raised-button color="primary"  (click)="signin()">signin</button>

      </td>

    <td style="padding: 10px; width: 80%">
      <router-outlet></router-outlet>
    </td>

  </tr>

</table>



 




